<div class="infoProduct">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="content-top">
                    <img src="https://via.placeholder.com/150/454443" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="content-bottom">
                    <h4>This is product name</h4>
                    <span>$250</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div class="content-info">
                    <input type="number" class="form-control">
                    <input type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Add To Cart</button>
            </div>
        </div>
    </div>
</div>