<!-- Start Footer -->
<hr>
<div class="content-top-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>We’re confident we’ve provided all the best for you. Stay connect with us</p>
            </div>
            <div class="col-sm-6">
                <div class="content">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-invision"></i>
                    <i class="fab fa-behance"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
  
<div class="content-center">
    <div class="container">   
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h5>INFORMATION</h5>
                <p>Delivery Information</p>
                <p>Discount</p>
                <p>Sitemap</p>
                <p>Privacy Policy</p>
                <p>My Account</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5>MY ACCOUNT</h5>
                <p routerLink="/auth/login">Sign in</p>
                <p routerLink="/user/cart">View Cart</p>
                <p>My Wishlist</p>
                <p routerLink="/user/checkout">Check out</p>
                <p>Track My Order</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5>HELP</h5>
                <p>F.A.Q</p>
                <p>Shopping</p>
                <p>Contact Us</p>
                <p>Privacy Policy</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h5>CONTACT INFO</h5>
                <p>
                    <i class="fas fa-globe-europe"></i><span>1234 Your Address, Country</span>
                </p>
                <p>
                    <i class="fas fa-phone-alt"></i><span>+1 234 5678 9999</span>
                </p>
                <p>
                    <i class="fas fa-envelope"></i><span>mail@domain.com</span>
                </p>
            </div>
        </div>
    </div>
</div>   


<div class="content-bottom-footer">
    <div class="container">
        <p>Copyright 2019 RenoshopBee all right reserved - Design by BeeStudios</p> 
    </div>
</div>
<!-- End Footer -->