<div class="admin">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/addProduct" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/managementWoman" routerLinkActive="active">Women</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/managementMen" routerLinkActive="active">Men</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/managementKids" routerLinkActive="active">Kids</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/managementJewellery" routerLinkActive="active">Jewellery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/managementAccessories" routerLinkActive="active">Accessories</a>
            </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>